.contact-method {
	margin-bottom:7px;


	.fa {
		font-size:16px;
		width: 12px;
		margin-right: 10px;
	}

	a {
        color:#74777a;
        @include transition(0.5s);

        &:hover {
            color:#337ab7;
            text-decoration: none;
        }
    }
}