

.projects {
    font-size: 0;
    margin: -20px;

	.project {
		width: 33.333%;
		height: auto;

		display: inline-block;

		padding: 20px;

		cursor: pointer;

		.thumb {
			width: 100%;
			height: auto;
			overflow: hidden;

			padding-top: 66.667%;
			position: relative;
			overflow: hidden;

			border: 1px solid #e1e4e5;

			@include border-radius(10px);

			img {
				width: 100%;
				@include transition(0.5s);
				position: absolute;
				top: 0;
				left: 0;
			}
		}

		h3 {
			text-align: center;
			font-size:25px;
			font-weight: 200;
			margin:20px 0 0 0;
			@include transition(0.5s);
		}

		&:hover {
			h3 {
				color:#337ab7;
			}
			.thumb {
				img {
					width:110%;
					margin-left:-5%;
					margin-top:-5%;
				}
			}
		}

		@media screen and (max-width: 1300px) {
    		padding: 10px;
    		width: 50%;
		}

		@media screen and (max-width: 775px) {
    		width: 100%;
		}
	}
}